= javascript_include_merged(:show).html_safe

- form_for(@question, :url => question_path(@question), :html => {:class => "question-form", :multipart => true}) do |f|
  
  =render :partial => "form", :locals => {:f => f}
  
  .field.form-options
    .checkbox
      = f.label :wiki, "Wiki"
      = f.check_box :wiki
    
    .buttons
      = link_to t('scaffold.cancel'), questions_path
      = t("global.or")
      = f.submit t("scaffold.update"), :class => "save"

    
