-content_for :subtabs do
  .navtitle
    =t("wiki.history.title", :count => @question.versions.count)

-counter = @question.versions.count

-form_tag diff_question_path(@question), :method => "GET", do

  %section.main-question#question
    %h1
      %small.version.current 
        =t("wiki.history.current_version")
        = radio_button_tag("prev", :current, :checked => @prev == "current")
        = radio_button_tag("curr", :current, :checked => @curr == "current")
      %small.verion-nav
        -if @question.versions.count > 0
          =link_to t("global.previous"), diff_question_path(@question, :curr => :current, :prev => @question.versions.count-1 )
        -if !@question.version_message.blank?
          = t('wiki.history.version_summary')
      %br
      = h(@question.title)
      %small 
        =link_to "â† back to question", question_path(@question)
    .description.markdown
      = shapado_auto_link(markdown(@question.body))
      
    .messages
      = @question.version_message
  
    %ul.tag-list
      %li.title
        Topics:
        =@question.tags.join(", ")


  #questions
    -@question.versions.reverse_each do |version|
      -counter -= 1
      -if !version.data.empty?
        = render :partial => "wiki/version", :object => version, :locals => {:post => @question, :number => counter, :prev => @prev, :curr => @curr, :scope => "activerecord.attributes.question"}

.buttons-history
  = link_to(t("scaffold.back"), question_path(@question))
  = t("global.or")  
  = submit_tag t("wiki.actions.show_diff"), :value => "diff", :name => "show"








    
