
-content_for :subtabs do
  .navtitle
    = t(".title")
-content_for :sidebar do
  -if !current_group.question_help.empty?
    .help
      %h4
        = t(".how_to_ask")
      = raw(current_group.question_help)
%h1
  Asking new question
  //i18n
%p.description
  Please be descriptive with your question, an be sure your are adding good tags for the searchers
  //i18n

- form_for(@question, :html=>{:class => "question-form", :id => "ask_question", :multipart => true}) do |f|
  =render :partial => "form", :locals => {:f => f}

  .field.form-options
    .column
      .checkbox
        = f.label :wiki, "Wiki"
        = f.check_box :wiki
    .column
      .checkbox
        = f.label :anonymous, t("scaffold.post_as_anonymous")
        = f.check_box :anonymous, {:class => "checkbox"}, true, false

    .buttons
      = f.submit t('scaffold.create'), :class => "save"
      = link_to t('scaffold.cancel'), questions_path
      = t("global.or")


