.announcements
  %h1
    = t(:message, :scope => "activerecord.attributes.announcement")

  -if current_group.wysiwyg_editor
    = f.text_area :message, :class => "text_area", :id => "wysiwyg_editor", :value => markdown(@announcement.message)
  -else
    = f.text_area :message, :class => "text_area", :id => "markdown_editor"

  =markdown(@announcement.message)

  .field.date-msg
    = f.label :starts_at, t(:starts_at, :scope => "activerecord.attributes.announcement")
    = f.datetime_select :starts_at, :default => Time.zone.now.at_midnight

  .field.date-msg
    = f.label :ends_at, t(:ends_at, :scope => "activerecord.attributes.announcement")
    = f.datetime_select :ends_at, :default => Time.zone.now.at_midnight.tomorrow

  .checkbox
    = f.check_box :only_anonymous, :class => "checkbox"
    = f.label :only_anonymous, t(:only_anonymous, :scope => "activerecord.attributes.announcement")