-content_for :js do
  = javascript_include_tag "https://js.stripe.com/v1/"
  = javascript_include_tag "payments/application"

.invoices
  =form_for @invoice, :html => {:id => "payment-form", :"data-token" => "#{PaymentsConfig['public']}" } do |f|
    =error_messages_for @invoice

    .invoice_info
      .brand
        =image_tag "logo.png"

      .references
        %p.reference
          %strong Invoice reference:
          =@invoice.order_number
        %p
          %strong Date:
          =@invoice.created_at
        %p
          %strong Valid until:
          =@invoice.created_at+1.month
      .clear

    -if @invoice.items.first["item_class"] == "ShapadoVersion"
      -version = ShapadoVersion.find(@invoice.items.first["item_id"])
      .thanks
        %p.action
          You're upgrading your
          %em
            = current_group.name
          Shapado account
          %br located at
          %em
            ==#{current_group.domain}.

        %p
          == Once you click the checkout button below you'll be upgraded to the #{version.name} plan. You'll be charged the new rate of $#{version.in_dollars}/month starting on your next bill as shows.
          %br
          =link_to "I want to change this plan", plans_path

    .credit_card_form
      %h2
        Credit Card Details

      =fields_for :credit_card do |ff|
        .field
          %label
            Credit Card Number
          =ff.text_field :number, :class => "card-number", :autocomplete => false, :size => 20
          %small Exactly as it appears on the card

        .cc-info
          .field
            %label
              Verification Code
            =ff.text_field :verification_code, :size => 4, :class => "card-cvc", :autocomplete => "off"
            %small The CVV code is a 3 or 4 digit number on the front or back of the card.

          .field.date
            %label
              Expiration Date
            -index = -1
            =ff.select :month, I18n.t("date.month_names").map{|e| [e, index+=1]}, {}, :class => "card-expiry-month"
            =ff.select :year, (Time.now.year..Time.now.year+15).to_a, {}, :class => "card-expiry-year"

    =render "invoices/invoice", :invoice => @invoice

    .buttons
      =f.submit "Checkout", :class => "save submit-button"