

.field
  = form.label :name
  = form.text_field :name

%fieldset
  .field
    = form.label :bg_color
    = form.text_field :bg_color, :type => "color"

  .field
    = form.label :fg_color
    = form.text_field :fg_color, :type => "color"

  .field
    = form.label :view_bg_color
    = form.text_field :view_bg_color, :type => "color"

  .field
    = form.label :view_fg_color
    = form.text_field :view_fg_color, :type => "color"

%fieldset
  .field
    = form.label :button_fg_color
    = form.text_field :button_fg_color, :type => "color"

  .field
    = form.label :use_button_bg_color
    = form.check_box :button_bg_color

  .field
    = form.label :button_bg_color
    = form.text_field :button_bg_color, :type => "color"


%fieldset
  .field
    = form.label :link_fg_color
    = form.text_field :link_fg_color, :type => "color"

  .field
    = form.label :use_button_bg_color
    = form.check_box :button_bg_color

  .field
    = form.label :link_bg_color
    = form.text_field :link_bg_color, :type => "color"


.field
  = form.label :custom_css
  = form.text_area :custom_css


.form-options
  .buttons
    = form.submit :class => "save"
