%h1
  = t("layouts.manage.themes")
%p.description
  = t('themes.index.description')
  You can build
  = link_to "your own", new_theme_path

=form_tag import_themes_path, :method => :post, :multipart => true do |f|
  =file_field_tag :theme_file
  =submit_tag "import"
.clear

%ul.admin-nav
  %li
    = link_to t('themes.index.group_themes'), themes_path
  %li
    = link_to t('themes.index.all_themes'), themes_path(:tab => "all")

%section.themes
  = render "theme", :theme => current_group.current_theme || Theme.where(:is_default => true).first

  -if @themes.empty?
    = render "shared/empty", :type => "themes", :url => new_theme_path
  -else
    -@themes.each do |theme|
      = render "theme", :theme => theme

  = paginate @themes
