%h1
  = t("layouts.manage.themes")
%p.description
  = t('themes.index.description')
  = link_to t('themes.index.new_theme'), new_theme_path

%ul.admin-nav
  %li
    = link_to t('themes.index.group_themes'), themes_path
  %li
    = link_to t('themes.index.all_themes'), themes_path(:tab => "all")

%section.themes
  = render "theme", :theme => current_group.current_theme

  -if @themes.empty?
    = render "shared/empty", :type => "themes", :url => new_theme_path
  -else
    -@themes.each do |theme|
      = render "theme", :theme => theme

  = paginate @themes
