%h1
  = t("layouts.manage.themes")
%p.description
  = t('themes.index.description')
  = link_to t('themes.index.new_theme'), new_theme_path

%section.themes
  -if @themes.empty?
    = render "shared/empty", :type => "themes", :url => new_theme_path

  -@themes.each do |theme|
    = render "theme", :theme => theme


