.top
  %h1
    = t(".title")
  %p.description= t(".description")

.content
  %ul
    - @badges.each do |badge|
      %li.clearfix
        .badge_item
          = pjax_link_to badge.name, "badges", badge_path(:id => badge.token), {:class => "badge #{badge.type}", :title => badge.description}

          .counter
            == × #{badge["count"]}
        .badge_description
          =badge.description
