%li
  = link_to "Moderate", moderate_path
  %ul
    %li
      = link_to "Questions"
    %li
      = link_to "Answers"
    %li
      = link_to "Comments"
    %li
      = link_to "Users"
    %li
      = link_to "Texts"
    %li
      = link_to "Tags"
    %li
      = link_to "Links"
