%li
  = link_to "Admin", manage_properties_path
  %ul
    %li
      = link_to "Site", manage_properties_path
    %li
      = link_to "Share", manage_properties_path(:tab => "share")
    %li
      = link_to "Theme", manage_properties_path(:tab => "theme")
    %li
      = link_to "Requirements", constrains_configs_path
    %li
      = link_to "Rewards", manage_properties_path(:tab => "rewards")
    %li
      = link_to "Domain", manage_properties_path(:tab => "domain")
