%li
  = link_to "Admin", manage_properties_path
  %ul
    %li
      = link_to "Groups"
    %li
      = link_to "Users"
    %li
      = link_to "widgets"
    %li
      = link_to "Adds"
    %li
      = link_to "Badges"