%h1
  //needsi18n
  Editing group
%p.description

-form_for(@group, :html => {:class => "form", :multipart => true}) do |f|
  = f.error_messages
  = render :partial => "form", :object => f

  .buttons
    = f.submit 'Update', :class => "save"
    = link_to 'Show', group_path(@group), :class => "button"
    = t("global.or")
    = link_to 'Back', groups_path, :class => "cancel button"
    = t("global.or")