.groups_container
  %h1
    Groups
  %p.description
    You will find all the aviable groups for this site, please use the input to filter your search; or you can
    = link_to t(".request_group"), new_group_path, :class => "request_group"

  -form_tag groups_path, :id => "filter_groups", :method => "get" do
    .field
      = label_tag :q, t(".filter")
      = text_field_tag "q", params[:q]
      = submit_tag("filterr")

  %ul.items#groups
    = render :partial => "group", :collection => @groups

  #additional_info
    =will_paginate @groups
    .clear


  .clear
