%ul.user-list.sf-menu
  %li.user
    //= link_to "#{avatar_img(current_user, {:size =>24})} #{current_user.login}", user_path(current_user)
    = link_to current_user.login, user_path(current_user)
    = avatar_img(current_user, {:size =>"small"})
    %ul
      %li
        =link_to "Profile"
      %li
        =link_to "Mi Karma: #{current_user.reputation_on(current_group)}"
      %li
        =link_to "My badges", badges_path

  %li.logout
    =link_to t("layouts.application.logout"), destroy_user_session_path
