-content_for :subtabs do
  .navtitle
    =t(".title")

-content_for :sidebar do
  .block
    .inner
      -if @user.member_of? current_group
        =link_to "leave #{current_group.domain}", leave_users_path

- @user.password = @user.password_confirmation = nil

= error_messages_for :user

= form_for @user, :html => {:class => "form", :multipart => true} do |f|
  %h1
    = t("users.form.information")
  =render :partial => "form", :locals => {:f => f}

  .form-options
    .buttons
      = submit_tag t('.submit'), :class => "save"
