#users_show
  %section.userData
    .avatar
      = avatar_img @user, :size => "big"
      -if current_user == @user
        %p
          =link_to "Edit profile", settings_path

    // TODO i18n
    %h3 Badges
    %ul.badges
      -@badges.each do |badge|
        %li
          = render :partial => "badges/badge", :object => badge, :locals => {:hide_user => true}


  %section.userHistory
    .userDescription
      .basicInfo
        %h2
          =h(@user.name)

        %small
          = t(:created_at, :scope => "activerecord.attributes.user")
          %time{:datetime => @user.created_at.iso8601}
            = t("time.ago", :time => time_ago_in_words(@user.created_at))
        |
        %small
          = t(:last_logged_at, :scope => "activerecord.attributes.user")
          %time{:datetime => @user.last_logged_at.iso8601}
            = t("time.ago", :time => time_ago_in_words(@user.last_logged_at))

        -if @user.website
          %p
            =t(:website, :scope => "activerecord.attributes.user")
            =link_to h(@user.website), h(@user.website), :rel => "nofollow"

        .description
          %p
            = markdown(@user.bio)



      %ul.profile-stats
        %li
          %strong
            =format_number(@user.reputation_on(current_group))
          %small
            = t(:reputation, :scope => "activerecord.attributes.user")

        %li
          %strong
            =format_number(@user.config_for(current_group).views_count.to_i)
          %small
            = t(".views")
        %li
          %strong
            = @user.following_count
          %small
            = t('.following')
        %li
          %strong
            = @user.followers_count
          %small
            = t('.followers')
        -if current_user != @user
          -if logged_in? && current_user.following?(@user)
            %li.follow
              =link_to "- #{t(".unfollow")}", unfollow_user_path(@user), :class => "unfollow_link", 'data-class' => "follow_link", 'data-title' => t(".follow"), 'data-undo' => follow_user_path(@user)
          -else
            %li.follow
              =link_to "+ #{t(".follow")}", follow_user_path(@user), :class => "follow_link", 'data-class' => "unfollow_link", 'data-title' => t(".unfollow"), 'data-undo' => unfollow_user_path(@user)
      .clear

    #main-content-wrap{:class => @active_tab}
      %nav{:class => @active_subtab }
        %ul.content-tabs
          = tab_entry "li", "Questions", user_path(@user), {:selected => "active"}, {:class => "questions"} #i18n
          = tab_entry "li", "Answers", answers_user_path(@user), {:selected => "active"}, {:class => "answers"} #i18n
          = tab_entry "li", "Follow", follows_user_path(@user), {:selected => "active"}, {:class => "follow"} #i18n
          = tab_entry "li", "Activity", activity_user_path(@user), {:selected => "active"}, {:class => "activity"} #i18n
      %section.filters{:class => @active_subtab }
        %ul
          = render "users/show/user_#{params[:action]}_filters"

      = render "users/show/user_#{params[:action]}_content"

    .additional_info
      = will_paginate @resources



