#users_show
  %section.userData
    .avatar
      = gravatar @user.email.to_s, :size => 128
      -if current_user == @user
      %p 
        =link_to t("users.form.avatar_tip"), "http://gravatar.com", :target => "_blank"
    
    %h3 Badges
    %ul.badges
      -@badges.each do |badge|
        %li
          = render :partial => "badges/badge", :object => badge, :locals => {:hide_user => true}


  %section.userHistory
    .userDescription
      .basicInfo
        //%small
        //=t(:name, :scope => "activerecord.attributes.user")
        %h2
          =h(@user.name)

        -if @user.website      
          %p
            =t(:website, :scope => "activerecord.attributes.user")
            =link_to h(@user.website), h(@user.website), :rel => "nofollow"

        .description
          %p
            = markdown(@user.bio)

        %small
          = t(:created_at, :scope => "activerecord.attributes.user")
          = t("time.ago", :time => time_ago_in_words(@user.created_at))
        |
        %small
          = t(:last_logged_at, :scope => "activerecord.attributes.user")
          hace 5 min
          
      %ul.profile-stats
        %li
          %strong
            =format_number(@user.reputation_on(current_group))
          %small
            = t(:reputation, :scope => "activerecord.attributes.user")
       
        %li
          %strong
            =format_number(@user.config_for(current_group).views_count.to_i)
          %small
            = t(".views")
        %li
          %strong
            500
          %small
            = t('.following')
        %li
          %strong
            100
          %small
            = t('.followers')
        -if current_user != @user
          -if logged_in? && current_user.following?(@user)
            %li.follow
              =link_to "- #{t(".unfollow")}", unfollow_user_path(@user), :class => "unfollow_link", 'data-class' => "follow_link", 'data-title' => t(".follow"), 'data-undo' => follow_user_path(@user)
          -else
            %li.follow
              =link_to "+ #{t(".follow")}", follow_user_path(@user), :class => "follow_link", 'data-class' => "unfollow_link", 'data-title' => t(".unfollow"), 'data-undo' => unfollow_user_path(@user) 
      .clear 
    #mainTabs
      %ul
        %li.active
          =link_to "Questions"
        %li
          =link_to "Answares"
        %li
          =link_to "Favorites"
        %li
          =link_to "Follow"          
 
