#users_show
  %section.userData
    .avatar
      = gravatar @user.email.to_s, :size => 128
      -if current_user == @user
      %p 
        =link_to t("users.form.avatar_tip"), "http://gravatar.com", :target => "_blank"
    
    %h3 Badges
    %ul.badges
      -@badges.each do |badge|
        %li
          = render :partial => "badges/badge", :object => badge, :locals => {:hide_user => true}


  %section.userHistory
    .userDescription
      .basicInfo
        %h2
          =h(@user.name)

        %small
          = t(:created_at, :scope => "activerecord.attributes.user")
          = t("time.ago", :time => time_ago_in_words(@user.created_at))
        |
        %small
          = t(:last_logged_at, :scope => "activerecord.attributes.user")
          hace 5 min

        -if @user.website      
          %p
            =t(:website, :scope => "activerecord.attributes.user")
            =link_to h(@user.website), h(@user.website), :rel => "nofollow"

        .description
          %p
            = markdown(@user.bio)


          
      %ul.profile-stats
        %li
          %strong
            =format_number(@user.reputation_on(current_group))
          %small
            = t(:reputation, :scope => "activerecord.attributes.user")
       
        %li
          %strong
            =format_number(@user.config_for(current_group).views_count.to_i)
          %small
            = t(".views")
        %li
          %strong
            500
          %small
            = t('.following')
        %li
          %strong
            100
          %small
            = t('.followers')
        -if current_user != @user
          -if logged_in? && current_user.following?(@user)
            %li.follow
              =link_to "- #{t(".unfollow")}", unfollow_user_path(@user), :class => "unfollow_link", 'data-class' => "follow_link", 'data-title' => t(".follow"), 'data-undo' => follow_user_path(@user)
          -else
            %li.follow
              =link_to "+ #{t(".follow")}", follow_user_path(@user), :class => "follow_link", 'data-class' => "unfollow_link", 'data-title' => t(".unfollow"), 'data-undo' => unfollow_user_path(@user) 
      .clear 

    #main-content-wrap{:class => @active_tab}
      %nav.answers
        %ul.content-tabs
          %li.questions
            = link_to "Preguntas", user_path(@user, params.merge(:a_sort=>"newest")), :rel => "nofollow"
          %li.answers
            =link_to "Respuestas", url_for(:answers => 1)
          %li.follow
            =link_to "Follow", "#"
          %li.activity
            =link_to "Activity", "#"
      %section.filters{:class => @active_subtab }
        %ul
          %header 
            = number_with_delimiter(@answers.total_entries)
            =t(:answers, :scope => "activerecord.models")  
            = "- Sort By:"
          %li.newest
            = link_to t("questions.index.newest"), user_path(@user, params.merge(:a_sort=>"newest")), :rel => "nofollow"
          %li.hot
            = link_to t("questions.index.oldest"), user_path(@user, params.merge(:a_sort=>"oldest")), :rel => "nofollow"
          %li.votes
            = link_to t("questions.index.votes"), user_path(@user, params.merge(:a_sort=>"votes")), :rel => "nofollow"


      -@answers.each do |answer|
      -next if answer.question.banned
        = render :partial => "answers/answer", :object => answer
    .additional_info
      = will_paginate @answers, :param_name => "answers_page"
        

    
