%nav
  %ul.content-tabs
    %li.questions
      = pjax_link_to(t('layouts.application.questions'), "index", questions_link)
    %li.answers
      = pjax_link_to t('activerecord.models.answers'), "index", questions_link.merge(:answers => 1)
    %li.unanswered
      = pjax_link_to t('layouts.application.unanswered'), "index", questions_link.merge(:unanswered => 1)
    %li.activities
      = pjax_link_to t('activerecord.models.activity'), "index", {'controller' => "activities", 'action' => "index", 'context' => (params[:context]||params[:action])}

  %section.filters{:class => @active_subtab }
    %ul
      %li
        %header= t('global.sort_by')
      = yield :nav_filters

