%nav
  %ul.content-tabs
    %li.questions
      = pjax_link_to t('layouts.application.questions'), "index", url_for(questions_link)
    %li
      = link_to t('layouts.application.badges'), badges_path, :class => "pjax", :"data-layout" => "badges", :rel => 'nofollow'
    %li
      =link_to t('layouts.application.users'), users_path
    %li
      = link_to t('layouts.application.tags'), tags_path, :class => "pjax", :"data-layout" => "tags"

    -#%li.unanswered
      -#= pjax_link_to t('layouts.application.unanswered'), "index", url_for(questions_link.merge(:unanswered => 1)), :rel => 'nofollow'
    %li.activities
      = pjax_link_to t('activerecord.models.activity'), "index", activities_path('context' => (params[:context]||params[:action])), :rel => 'nofollow'

  .filters{:class => @active_subtab }
    %ul.menubar
      = yield :nav_filters
