
= form_tag change_language_filter_path do
  = hidden_field_tag :source, request.path
  -langs_options = languages_options(current_group.languages)
  -langs_options.unshift([t('shared.any_lang'), "any"])

  -if logged_in?
    .field
      -langs_options.unshift([t('shared.preferred_lang'), "user"])
      = select :language, :filter, langs_options, {:selected => current_user.language_filter}

  -else
    .field
      = select :language, :filter, langs_options, {:selected => logged_out_language_filter}

  .buttons
    = submit_tag t('scaffold.save'), :class => "save change_language"
