- unless current_group.is_social_only_signup?
  %ul
    - count = 0
    - entries = multiauth_providers.keys
    - first_section = entries[0, 20]
    - first_section.each do |provider|
      - config = multiauth_providers[provider]
      %li
        = link_to(provider, "/users/auth/#{config["openid"] ? "open_id?openid_url=#{config["openid"]}" : "#{provider.underscore}"}", :class => "#{provider} #{config["class"]} auth-provider", :id => "btn_#{count+=1}" )
- else
  %ul
    %li
      = link_to t('invitations.accept.facebook_connect'), '/users/auth/facebook', :class => 'auth-provider Facebook', :id => 'facebook'
    %li
      = link_to t('invitations.accept.twitter_connect'), '/users/auth/twitter', :class => 'auth-provider Twitter', :id => 'twitter'
    %li
      = link_to t('invitations.accept.twitter_connect'), '/users/auth/linked_in', :class => 'auth-provider LinkedIn', :id => 'linked_in'
    %li
      = link_to t('invitations.accept.twitter_connect'), '/users/auth/identica', :class => 'auth-provider Identica', :id => 'identica'


