.user-zone.module

  -if !logged_in?
    /=multiauth_menu("Sign In")
    = multiauth_dropdown("Sign In")
  -else
    .avatar
      = gravatar(current_user.email.to_s, :size => 25)

    .greeting
      %small Welcome
      -if logged_in?
        %b=current_user.login
    .clear

    %nav
      %ul
        %li.active
          =link_to "Mi perfil", user_path(current_user)
        %li
          =link_to "Mi Karma: #{current_user.reputation_on(current_group)}"
        %li
          =link_to "Followed", feed_user_path(current_user)
        %li
          =link_to "All", questions_path
        %li
          =link_to "By Me", by_me_user_path(current_user)
        %li
          =link_to "Preferred", preferred_user_path(current_user)
        %li
          =link_to "Contributed", contributed_user_path(current_user)
        %li
          =link_to "Collaborate!", expertise_user_path(current_user)
        %li.log-out
          =link_to t("layouts.application.logout"), destroy_user_session_path

      %ul
        -if current_user.mod_of?(current_group)
          %li
            = link_to "moderate", moderate_path
        -if current_user.admin_of?(current_group)
          %li
            = link_to "admin", manage_properties_path

      %ul
        -current_user.searches.where(:group_id => current_group.id).each do |search|
          %li
            =link_to search.name, search_path(search)