= include_stylesheets(:base)

- if Rails.env == 'development'
  = include_stylesheets(:jqueryui)
  = include_stylesheets(:jpicker)

-#%link#current-theme{ :href => "/stylesheets/compiled/themes/#{current_group.theme}/style.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
-#%link#current-nav{ :href => "/stylesheets/compiled/navigation/#{current_group.theme}.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }

= yield :css

%link{:href => css_group_path(current_group, params[:theme] || current_group.current_theme_id),  :rel => "stylesheet", :media => "screen", :type => "text/css"}

