= include_javascripts(MODERNIZR)
- if Rails.env == 'development'
  = include_javascripts(:websocket)
  = include_javascripts(:json)
  = include_javascripts(:jqueryui)
  = include_javascripts(:base)
  = include_javascripts(:extra)
  = include_javascripts(:jqautocomplete)
  = include_javascripts(:jqueryautovideo)
  = include_javascripts(:jpicker)
  = include_javascripts(:init_dev)

= yield :js
