%meta{'data-has-js'=> current_group.current_theme.has_js, 'data-theme-js' => javascript_group_path(current_group, params[:theme] || current_group.current_theme_id)}
= include_javascripts(MODERNIZR)
- if Rails.env == 'development'
  = include_javascripts(:websocket)
  = include_javascripts(:json)
  = include_javascripts(:jqueryui)
  = include_javascripts(:geolocation)
  = include_javascripts(:base)
  = include_javascripts(:extra)
  = include_javascripts(:jqueryautovideo)
  = include_javascripts(:jpicker)
  = include_javascripts(:init_dev)

= yield :js
