%section.main-question
  .version
    %small.version
      =t("wiki.history.version")
      &=number
      = radio_button_tag("prev", number, prev.to_s == number.to_s)
      = radio_button_tag("curr", number, curr.to_s == number.to_s)
    %small.verion-nav
      = render "diff_actions", :post => post, :number => number

    .changes
      = render "changes", :post => post, :version => version, :scope => scope
    .owner
      = render "users/user_data", :user => version.owner
