- if logged_in? && (current_user.mod_of?(current_group) || current_user.can_view_offensive_counts_on?(current_group))
  -unless @question.flags.count == 0
    .module
      %h3
        = t(:flags, :scope => "activerecord.models")
      .content
        = render :partial => "flags/list", :locals => {:flaggeable => @question}

  -unless @question.close_requests.size == 0
    .module
      %h3
        = t(:prural_name, :scope => "close_requests.model")
      .content
        = render :partial => "close_requests/list", :locals => {:question => @question}

  -unless @question.open_requests.size == 0
    .module
      %h3
        = t(:prural_name, :scope => "open_requests.model")
      .content
        = render :partial => "open_requests/list", :locals => {:question => @question}

