.module.stats
  - if @question.group_id != current_group.id
    = t(".asked_on")
    &= @question.group.name

  .entry
    .text.asked
      = t('activerecord.attributes.question.created_at')
      .data
        = t("time.ago", :time => time_ago_in_words(@question.created_at))
  .entry
    .text.viewed
      = t('questions.show.viewed')
    .data
      = t('number.x_time', :count => number_with_delimiter(@question.views_count))
  .entry
    .text.last_activity
      = t("questions.show.last_activity")
    .data.updated{:title => @question.activity_at, :class => "relativetime"}
      = t("time.ago", :time => time_ago_in_words(@question.activity_at))
