-form_for(widget, :url => widget_path(widget, :tab => params[:tab]), :class => "form") do
  .group
    = check_box_tag "settings[twitter]", nil, widget.settings["twitter"], :class => "checkbox"
    = label :settings, 'Twitter', :class => "radio"
  .group
    = check_box_tag "settings[facebook]", nil, widget.settings["facebook"], :class => "checkbox"
    = label :settings, 'Facebook', :class => "radio"
  .group
    = check_box_tag "settings[linkedin]", nil, widget.settings["linkedin"], {:class => "checkbox"}
    = label :settings, 'Linkedin', :class => "radio"
  - if current_group.domain != AppConfig.domain
    .group
      = check_box_tag "settings[shapado]", nil, widget.settings["shapado"], :class => "checkbox"
      = label :settings, 'Shapado', :class => "radio"
  .group
    = check_box_tag "settings[identica]", nil, widget.settings["identica"], :class => "checkbox"
    = label :settings, 'identi.ca', :class => "radio"
  .group
    = check_box_tag "settings[think]", nil, widget.settings["think"], :class => "checkbox"
    = label :settings, 'Think.it', :class => "radio"
  .group
    = label :settings, t('widgets.settings.custom_html')
    = text_area_tag "settings[custom_html]", widget.settings["custom_html"]
  .group.navform
    = submit_tag t("scaffold.update"), :class => "button"