.module
  %h1
    = t(".title")
  -if @question.present?
    %ul.share
      - if widget.settings["identica"]
        %li
          = render :partial => "questions/share/identica"
      - if current_group.domain != AppConfig.domain && widget.settings["shapado"]
        %li
          = render :partial => "questions/share/shapado"
      - if widget.settings["twitter"]
        %li
          = render :partial => "questions/share/twitter"
      - if widget.settings["linkedin"]
        %li
          = render :partial => "questions/share/linkedin"
      - if widget.settings["think"]
        %li
          = render :partial => "questions/share/think"
      - if widget.settings["facebook"]
        %li
          = render :partial => "questions/share/facebook"
      - unless widget.settings["custom_html"].blank?
        %li
          = widget.settings["custom_html"]
  -else
    Blank Slate
.clear
