%h1
  Widgets
%p.description
  =t(".description")

%ul.admin-nav
  %li.mainlist_widgets
    = link_to t(".mainlist_widgets"), widgets_path(:tab=>"mainlist"), :title => t(".mainlist_widgets_title")
  %li.question_widgets
    = link_to t(".question_widgets"), widgets_path(:tab=>"question"), :title => t(".question_widgets_title")
  %li.question_widgets
    = link_to t(".external_widgets"), widgets_path(:tab=>"external"), :title => t(".external_widgets_title")

.widgets-admin
  %ul
    %li
      -form_tag widgets_path(:tab => @active_subtab), :class => "add-widget" do
        .field
          = label :limit, t(".new_widget", :default => "Add new widget"), :class => "label"
          = select :widget, "_type", Widget.types(params[:tab],current_group.has_custom_ads).map {|w| [w.sub("Widget", "").titleize, w]}
          -if @active_subtab != "external"
            = select :widget, "position", WidgetList::POSITIONS.map {|ps| [ps.titleize, ps]}
          -else
            = hidden_field_tag "widget[position]", "sidebar"
        .buttons
          =submit_tag t("scaffold.add"), :class => "save"
        .clear

    -if @active_subtab != "external"
      %li
        Header
      -@widget_list.header.each do |widget|
        =render "widget", :widget => widget, :position => "header"

      %li
        Sidebar
      -@widget_list.sidebar.each do |widget|
        =render "widget", :widget => widget, :position => "sidebar"

      %li
        Navbar
      -@widget_list.navbar.each do |widget|
        =render "widget", :widget => widget, :position => "navbar"

      %li
        Footer
      -@widget_list.footer.each do |widget|
        =render "widget", :widget => widget, :position => "footer"
    -else
      -@widget_list.sidebar.each do |widget|
        =render "widget", :widget => widget, :position => "sidebar"
