%h1
  Widgets
%p.description
  =t(".description")

%ul.admin-nav
  %li.mainlist_widgets
    = link_to t(".mainlist_widgets"), widgets_path(:tab=>"mainlist"), :title => t(".mainlist_widgets_title")
  %li.question_widgets
    = link_to t(".question_widgets"), widgets_path(:tab=>"question"), :title => t(".question_widgets_title")
  %li.external_widgets
    = link_to t(".external_widgets"), widgets_path(:tab=>"external"), :title => t(".external_widgets_title")

.widgets-admin

  .select-widget
    = error_messages_for(:widget)
    = form_tag widgets_path(:tab => @active_subtab), :class => "add-widget" do
      .field
        = label :limit, t(".new_widget", :default => "Add new widget"), :class => "label"
        = select :widget, "_type", Widget.types(params[:tab],current_group.has_custom_ads).map {|w| [w.sub("Widget", "").titleize, w]}
        -if @active_subtab != "external"
          = select :widget, "position", WidgetList::POSITIONS.map {|ps| [ps.titleize, ps]}
        -else
          = hidden_field_tag "widget[position]", "sidebar"
      .buttons
        =submit_tag t("scaffold.add"), :class => "save"
      .clear
    .zone
      %p
        %strong Zone:
        .name
          Header
      =image_tag "zone-header.gif"
    .type
      %p
        %strong Type:
        Nombre del widget
      =image_tag "zone-header.gif"

  .widget-containers
    -if @active_subtab != "external"
      -#i18n
      .container.header
        .header
          Header
          =link_to "Add new widget", "#"
        -@widget_list.header.each do |widget|
          = render "widget", :widget => widget, :position => "header"
        .clear

      .container.navbar
        .header
          Navbar
          =link_to "Add new widget", "#"
        -@widget_list.navbar.each do |widget|
          = render "widget", :widget => widget, :position => "navbar"
        .clear

      .container.sidebar
        .header
          Sidebar
          =link_to "Add new widget", "#"
        -@widget_list.sidebar.each do |widget|
          = render "widget", :widget => widget, :position => "sidebar"
        .clear

      .container.footer
        .header
          Footer
          =link_to "Add new widget", "#"
        -@widget_list.footer.each do |widget|
          = render "widget", :widget => widget, :position => "footer"
        .clear

      -else

        -@widget_list.sidebar.each do |widget|
          = render "widget", :widget => widget, :position => "sidebar"
        .clear
