.page-list
  .title
    Wiki Pages
    -if logged_in? && current_user.can_edit_wiki_post_on?(current_group)
      = link_to t(".create_page"), new_page_path, :class => "add-page pjax", :"data-layout" => "pages"

  -@pages.each do |page|
    %article.page
      %h2
        = link_to h(page.title), page_path(page), :class => "pjax", :"data-layout" => "pages"
      %p
        &= truncate(strip_tags(page.body), :length => 200)
      -if page.language
        %small
          =t(".written_in", :language => t("languages.#{page.language}"))
      %ul.actions-bar
        -if logged_in? && current_user.can_edit_wiki_post_on?(current_group)
          %li
            =link_to t("scaffold.edit"), edit_page_path(page), :class => "pjax", :"data-layout" => "pages"
          -if current_user.mod_of?(current_group)
            %li
              =link_to t("scaffold.destroy"), page_path(page.id), :class => "important", :method => :delete, :confirm => t("scaffold.sure", :model => t("activerecord.models.page"))

  = paginate @pages
