-klass = ""
-if logged_in? && question.tags.detect { |tag| current_user.preferred_tags_on(current_group).include?(tag) }
  - klass = "highlight"

-title = h(question.title)
-if question.closed
  -title += " [#{t("closed", :scope => "activerecord.attributes.question").upcase}]"

-owner = nil
- if question.last_target_id.present?
  - last_target_id = question.last_target_id
  - last_target_date = question.last_target_date
  - owner = question.last_target_user
-else
  - last_target = question
  - last_target_date = question.updated_at
  - owner = question.user unless question.anonymous

%article{:class => class_for_question(question)}
  -cache("question_on_index_#{question.id}_#{I18n.locale}") do
    %h2
      = link_to highlight(title, @highlight), question_path(question), :title => truncate(strip_tags(question.body), :length => 200)
  .user-data
    -if owner
      =render :partial => "users/user_data", :locals => {:user => owner}
    -else
      Por:
      =t("global.anonymous")
    = link_to t("time.ago", :time => time_ago_in_words(last_target_date)), question_path(question)+"##{last_target_id}"
  -if question.wiki
    Wiki

  .markdown
    =highlight(markdown(question.body), @highlight)
    .clear