
-content_for :nav_filters do
  - url_options = {"controller" => "activities", "action" => "index"}
  %li.all
    -#i18n
    = pjax_link_to "All", "index", url_options.merge(:context => params[:context]), {:rel => "nofollow"}
  %li.questions
    = pjax_link_to "Questions", "index", url_options.merge(:tab=>"questions", :context => params[:context]), {:rel => "nofollow"}
  %li.answers
    = pjax_link_to "Answers", "index", url_options.merge(:tab=>"answers", :context => params[:context]), {:rel => "nofollow"}
  %li.users
    = pjax_link_to "Users", "index", url_options.merge(:tab=>"users", :context => params[:context]), {:rel => "nofollow"}
  %li.pages
    = pjax_link_to "Pages", "index", url_options.merge(:tab=>"pages", :context => params[:context]), {:rel => "nofollow"}

.activities
  - questions_link =  questions_link_for(params[:context])
  = render "shared/content-nav", :questions_link => questions_link
  %section
    -feed_url = url_for(:format => "atom")

    -content_for :rss do
      %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

    -if @activities.empty?
      = render "shared/empty", :type => "activities", :url => ""
    -else
      -@activities.each do |activity|
        -next if activity.trackable_type.nil?
        = render "activities/activity", :activity => activity

    #additional_info
      =paginate @activities
