
-content_for :nav_filters do
  %li.all
    = link_to "All", activities_path(:context => params[:context]), :rel => "nofollow", :class => "pjax", :"data-layout" => "index"
  %li.questions
    = link_to "Questions", activities_path(:tab=>"questions", :context => params[:context]), :rel => "nofollow", :class => "pjax", :"data-layout" => "index"
  %li.answers
    = link_to "Answers", activities_path(:tab=>"answers", :context => params[:context]), :rel => "nofollow", :class => "pjax", :"data-layout" => "index"
  %li.users
    = link_to "Users", activities_path(:tab=>"users", :context => params[:context]), :rel => "nofollow", :class => "pjax", :"data-layout" => "index"
  %li.users
    = link_to "Pages", activities_path(:tab=>"pages", :context => params[:context]), :rel => "nofollow", :class => "pjax", :"data-layout" => "index"

.activities
  - questions_link =  questions_link_for(params[:context])
  = render "shared/content-nav", :questions_link => questions_link
  %section
    -feed_url = url_for(:format => "atom")

    -content_for :rss do
      %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

    -if @activities.empty?
      = render "shared/empty", :type => "activities", :url => ""
    -else
      -@activities.each do |activity|
        -next if activity.trackable_type.nil?
        = render "activities/activity", :activity => activity

    #additional_info
      =paginate @activities
