!!! 5
%html{"xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      &= page_title
    = render "shared/layout/css"

    = raw(current_group.head_tag)
    = render "shared/layout/meta"
    <!--[if lt IE 8]><link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/ie7.css"><![endif]-->
    = render "shared/layout/javascript"
    <link type="text/css" rel="stylesheet" media="screen" href="http://jqueryui.com/themes/base/jquery.ui.tabs.css">

    = csrf_meta_tag

  %body
    = render "shared/analytics"

    #container{:class => @current_class}

      %nav.top-bar
        %ul.group-list.sf-menu
          -if !current_group.isolate
            = render "groups/top_grouplist"
          -if !logged_in?
          - else
            -if current_user.admin_of?(current_group)
              = render "admin/manage/top_admin"
            -if current_user.mod_of?(current_group)
              = render "admin/moderate/top_moderate"

        .searcher
          = form_tag search_index_path, :method => :get, :id => "search" do
            .field
              = text_field_tag :q, params[:q]


        -if !logged_in?
          /=multiauth_menu("Sign In")
          = multiauth_dropdown("Sign In")
        -else
          = render "users/top_user"

      %section.left-panel
        .brand
          %h1
            = link_to(group_logo_img(current_group, :class => "group_logo"), domain_url(:custom => current_group.domain))

        //= render "shared/user-zone"
        .widget-links.module
          %nav
            %ul
              = tab_entry "li", "All", questions_path, :selected => "active"
              -if logged_in?
                = tab_entry "li", "Followed", feed_user_path(current_user), :selected => "active"
                = tab_entry "li", "By Me", by_me_user_path(current_user), :selected => "active"
                = tab_entry "li", "Preferred", preferred_user_path(current_user), :selected => "active"
                = tab_entry "li", "Contributed", contributed_user_path(current_user), :selected => "active"
                = tab_entry "li", "Collaborate!", expertise_user_path(current_user), :selected => "active"
              %li
                =link_to "FAQ"

        = render :partial => "shared/language_filter"

        .widget-links.module
          %nav
            %ul
              %li
                = link_to "Random question", random_questions_path(:unanswered => true)
              %li
                = link_to "Badges", badges_path
              %li
                = link_to "Pages", pages_path

        =render "widgets/tag_cloud", :widget => TagCloudWidget.new

        .widget-networks.module
          %h3  Siguenos y comparte:
          %ul
            %li
              =link_to "Facebook", "#", :class => "facebook", :rel => "nofollow"
            %li
              =link_to "Twitter", "#", :class => "twitter", :rel => "nofollow"
            %li
              =link_to "Digg", "#", :class => "digg", :rel => "nofollow"
            %li
              =link_to "Delicious", "#", :class => "delicious", :rel => "nofollow"
            %li
              -feed_urls.each do |title, url|
                %a{:href => url}
                  =image_tag "atom.png", :width => 20
          .clear

        .add
          %h6 Publicidad
          =link_to image_tag "http://www.bipbanners.co.uk/assets/images/WebConveyancing_Animated_SkyScraper_Banner_Sample_1A.gif"

      %section.content-panel
        - unless params[:controller] =~ /moderate\//
          //= render "shared/action-tabs"
          =render "shared/quick_question_box"

        #main-content-wrap{:class => @active_tab}
          - if params[:controller] =~ /moderate\//
            = render "shared/moderate_navigation"
          = yield
          .clear

      %section.right-panel

        .add
          %h6 Publicidad
          =link_to image_tag "banner-250x250.jpg"

        = yield :sidebar

        = render "shared/ads/context_panel_ads"

        .clear
        = render "shared/ads/footer_ads"

      = render "shared/layout/footer"
