!!! 5
%html{"xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      &= page_title
    = render "shared/layout/css"

    = raw(current_group.head_tag)
    = render "shared/layout/meta"
    <!--[if lt IE 8]><link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/ie7.css"><![endif]-->
    = render "shared/layout/javascript"

    = csrf_meta_tag
    = render "shared/analytics"

  %body{:class => bodys_class(params) }

    #container{:class => @current_class}

      %nav.top-bar
        %ul.group-list.sf-menu
          -if !current_group.isolate
            = render "groups/top_grouplist"
          -if !logged_in?
          - else
            -if current_user.admin_of?(current_group)
              = render "admin/manage/top_admin"
            -if current_user.mod_of?(current_group)
              = render "admin/moderate/top_moderate"

        .searcher
          = form_tag search_index_path, :method => :get, :id => "search" do
            .field
              = text_field_tag :q, params[:q]


        -if !logged_in?
          /=multiauth_menu("Sign In")
          = multiauth_dropdown("Sign In")
        -else
          = render "users/top_user"

      = show_flash_messages(:class => "flash", :markdown => true)
      #columns
        %section#column1.left-panel

          .brand
            %h1
              = link_to(group_logo_img(current_group, :class => "group_logo"), domain_url(:custom => current_group.domain))
          .widget-links.module
            %nav
              %ul
                = tab_entry "li", t('.site'), manage_properties_path, :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage"}
                - if current_user.owner_of? current_group
                  = tab_entry "li", t('layouts.manage.invoices'), invoices_path, :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage"}
                = tab_entry "li", t('layouts.manage.domain'), manage_properties_tab_path(:tab => "domain"), :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage"}

          .widget-links.module
            %h3
              = t("layouts.manage.group_user_management")
            %nav
              %ul
                = tab_entry "li", t('layouts.manage.access'), manage_access_path, :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage"}
                = tab_entry "li", t('layouts.manage.members'), members_path, :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage-members"}
                = tab_entry "li", t('layouts.manage.invitations'), manage_invitations_path, :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage"}

          .widget-links.module
            %h3
              = t("layouts.manage.group_features")
            %nav
              %ul
                -if current_group.has_custom_html
                  = tab_entry "li", t('layouts.manage.announcements'), announcements_path, :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage-announcements"}
                = tab_entry "li", t('layouts.manage.social'), manage_social_path, :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage"}
                = tab_entry "li", t('layouts.manage.constrains'), constrains_configs_path, :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage"}
                = tab_entry "li", t('layouts.manage.rewards'), manage_properties_tab_path(:tab => "rewards"), :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage"}

          .widget-links.module
            %h3
              = t("layouts.manage.group_look_and_feel")
            %nav
              %ul
                = tab_entry "li", t('layouts.manage.appearance'), manage_appearance_path, :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage"}
                -if current_group.has_custom_html
                  = tab_entry "li", t('layouts.manage.content'), manage_content_path, :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage"}
                = tab_entry "li", t('layouts.manage.themes'), themes_path, :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage"}
                = tab_entry "li", t('layouts.manage.widgets'), widgets_path, :selected => "active", :link_opts => {:"class" => "pjax", :"data-layout" => "manage-widgets"}


        %section#column2.content-panel.nosidebar
          #main-content-wrap{:class => @active_tab}
            = yield
            .clear

      = render "shared/layout/footer"
