!!! 5
%html{"xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    = render "shared/layout/head"

  %body{:class => bodys_class(params) << "manage-layout" }

    = render :partial => "shared/topbar"
    #container{:class => @current_class}
      = show_flash_messages(:class => "flash", :markdown => true)
      #columns
        %section#column1.left-panel

          .brand
            %h1
              = link_to(group_logo_img(current_group, :class => "group_logo"), domain_url(:custom => current_group.domain))
          .widget-links.module
            %nav
              %ul
                = pjax_tab_entry "li", t('.site'), "manage", {'controller' => 'manage', 'action' => 'properties' }, :selected => "active", 'page_layout' => "manage-layout"
                - if current_user.owner_of? current_group
                  = pjax_tab_entry "li", t('layouts.manage.invoices'), "manage", {'controller' => '/invoices', 'action' => 'index' }, :selected => "active", 'page_layout' => "manage-layout"
                = pjax_tab_entry "li", t('layouts.manage.domain'), "manage", {'controller' => 'manage', 'action' => 'properties', 'tab' => "domain"}, :selected => "active", 'page_layout' => "manage-layout"

          .widget-links.module
            %h3
              = t("layouts.manage.group_user_management")
            %nav
              %ul
                = pjax_tab_entry "li", t('layouts.manage.access'), "manage", {'controller' => 'manage', 'action' => 'access'}, :selected => "active", 'page_layout' => "manage-layout"
                = pjax_tab_entry "li", t('layouts.manage.members'), "manage",  {'controller' => '/members', :action => 'index'}, :selected => "active", 'page_layout' => "manage-layout"
                = pjax_tab_entry "li", t('layouts.manage.invitations'), "manage", {'controller' => 'manage', 'action' => 'invitations'}, :selected => "active", 'page_layout' => "manage-layout"

          .widget-links.module
            %h3
              = t("layouts.manage.group_features")
            %nav
              %ul
                = pjax_tab_entry "li", t('layouts.manage.announcements'), "manage-announcements", {'controller' => '/announcements'}, :selected => "active", 'page_layout' => "manage-layout"
                = pjax_tab_entry "li", t('layouts.manage.social'), "manage", {'controller' => 'manage', 'action' => 'social'}, :selected => "active", 'page_layout' => "manage-layout"
                = pjax_tab_entry "li", t('layouts.manage.constrains'), "manage", {'controller' => '/constrains_configs', 'action' => "index" }, :selected => "active", 'page_layout' => "manage-layout"
                = pjax_tab_entry "li", t('layouts.manage.rewards'), "manage", {'controller' => 'manage', 'action' => 'properties', 'tab' => "rewards"}, :selected => "active", 'page_layout' => "manage-layout"

          .widget-links.module
            %h3
              = t("layouts.manage.group_look_and_feel")
            %nav
              %ul
                = pjax_tab_entry "li", t('layouts.manage.appearance'), "manage", {'controller' => 'manage', 'action' => 'appearance'}, :selected => "active", 'page_layout' => "manage-layout"
                -if current_group.has_custom_html
                  = pjax_tab_entry "li", t('layouts.manage.content'), "manage", {'controller' => 'manage', 'action' => 'content'}, :selected => "active", 'page_layout' => "manage-layout"
                = pjax_tab_entry "li", t('layouts.manage.themes'), "manage", {'controller' => '/themes', 'action' => 'index'}, :selected => "active", 'page_layout' => "manage-layout"
                = pjax_tab_entry "li", t('layouts.manage.widgets'), "manage-widgets", {'controller' => '/widgets', 'action' => 'index' }, :selected => "active", 'page_layout' => "manage-layout"

        %section#column2.content-panel.nosidebar
          #main-content-wrap{:class => @active_tab}
            = yield
            .clear

      = render "shared/layout/footer"
